nav a
{
text-decoration: none;
 display:inline-block;
margin : 0px;
padding:5px;
border-right: navy 1px solid;}
nav
{
background-color: #f8f8f8;
}
a:active
{
color:black;
}
.active{background-color: red;}